
/*index.php*/

.img-jvre-index{
	height: 60%;
	width: auto;
}

.img-logos-index{
	width: 70%;
}

.titulo-splash-index{
	font-size: 2.5rem;
}

.btn-index{
	padding: 1rem !important;
	font-size: 1.08rem !important;
}

/*menu.php*/

.prebox{
	width: 80%;
	height: auto;
	text-align: center;
}

.text-center-moz{
	text-align: -moz-center;
	text-align: -webkit-center;
}

.prebox>h3{
	font-size: 1.35rem;
}

.prebox>p{
	font-size: 0.75rem;
}

.modal-body{
	padding: 0;
}

.margen_satanico{
	margin-bottom: 0.666rem; /* :3 */
	font-size: 1rem;
	text-align: center;
}

.modal-footer{
	height: 9%;
	padding: 0.4rem;
}


.modal-xl{
	max-width: 1000px;
}

.titulo_menu {
    font-size: 1.5rem;
    margin: auto;
    padding: 2rem;
    color: 
    #001849;
}

.img-jvre-menu{
	height: 85%;
	width: 70%;
	position: relative;
	top: 3%;
}

/*monitor.php*/

.h1{
	font-size: 1.5rem;
}

h4.texto-item{
	font-size: 1.2rem;
}

