
// como crestamaquina compilar un scss:
// vs code y sublime tienen plugins para hacerlo


// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

$gris:		#7e7e80;
$azul:		#0069aa;
$amarillo:	#f9a550;

*{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

html,body{
height: 100%;
/*overflow: hidden;*/
}
body{
min-height: 100%;
}

.modal-lg{
	width: 900px;
}

.container-menu{
	background: #17555f;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	padding: 0;
}

.btn-primary {
    @include button-variant($azul, darken($azul, 7.5%), darken($azul, 10%), lighten($azul,5%), lighten($azul, 10%), darken($azul,30%));
}

.btn-outline-primary {
    @include button-outline-variant($azul, #222222, lighten($azul,5%), $azul);
};

.btn{
	font-size: 1rem;
	word-wrap: normal;
}

// #2bbbad : default
// #4285f4 primary
// #3f51b5 indigo

// chapas mdb
.btn-rounded {
	border-radius: 10em;
}

.titulo > .row{
	margin-right: 0;
}

.card{
	margin: 0 auto; /* Added */
    float: none; /* Added */
    // margin-bottom: 2rem; /* Added */
}
// std css
// 
// 
// 

// debugeo

.ultralargo{
	height: 3000px !important;
}

.btn-inicio{
	// position: absolute;
	// bottom: 6px;
	// left: 1px;
	margin: 0 auto;
}

a.custom-card,a.custom-card:hover{
	color: inherit;
}

// .container{
// 	display: table;
// 	position: relative;
// 	text-align: justify;
// }
// WEAS
	.hide{
		display: none;
	}
	.show{
		display: inline;
	}
// FIN WEAS
.form{
	display: table;
	border-collapse: collapse;
}

.h-10{
	height: 10% !important;
}

.h-20{
	height: 20% !important;
}

.h-40{
	height: 40% !important;
}

.h-90{
	height: 90% !important;
}

.fila{
	display: table-row;
	/*border: 1px solid black;*/
	width: 100%;
}

.texto-admin{
	color: #17555f;
	background-color: white;
	text-shadow: 1px 1px #000;
}

.texto-item{
	background-color: #17555f;
	color: white;
	text-shadow: 1px 1px #000;
}

.btn-paleta{
	background-color: #17555f;
	color: white;
	text-shadow: 1px 1px #000;
}

.btn-geshi:hover{
	color: #ffc000;
}

.btn-paleta:hover{
	background-color: #17555f;
	color: #ffc000;
	text-shadow: 1px 1px #000;
}

.highlight-paleta{
	color: #17555f;
	text-shadow: 1px 1px #000;
	font-size: 2rem;
}

.celda{
		/*border: 1px solid black;*/
	vertical-align: middle;
}

.titulo{
	// font-family: 'metropolis';
	background: #17555f;
	height: 90px;
}

.titulo > * {
	vertical-align: middle;
}

// .titulo h2{
// 	position: relative;
// 	top: 50%;
// 	transform: translateY(-50%);
// 	text-align: center;
// }

.align-pulento{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.items_main{
	padding-top: 20px;
}

.imagen_main{
	margin-top: 10px; 
	height: 100px;
	width: 100px;
}

.link_main{
	height: 100%;
	display: block;
}

.monitor{
	border: 10px solid blue;
}

.hist{
	border: 10px solid yellow;
}

.calc{
	border: 10px solid green;
}
 // index.php

.img-jvre-index{
	height: 100%;
	width: auto;
}

.img-logos-index{
	width: 45%;
}

.titulo-splash-index{
	color: #17555f;
	font-size: 4rem;
	font-weight: bold;
	text-shadow: 2px 2px #fff;
}

.btn-index{
	padding: 1.5rem 3.6rem !important;
	font-size: 1.52rem !important;
}

// menu.php

.titulo_menu {
    font-size: 2rem;
    margin: auto;
    padding: 2rem;
    color: 
    #001849;
}

.img-jvre-menu{
	width: 60%;
}


// graficos

